<form #f="ngForm" (ngSubmit)="createNewProjectSubmit(f)" name="newProject">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" #newProject_Name="ngModel" name="name" class="form-control" placeholder="Nome" ngModel required>
      <p *ngIf="newProject_Name.invalid && newProject_Name.touched"  class="text-danger"><small>Il campo è richiesto</small></p>
    </div>

    <div class="form-group col-md-6">
      <select class="form-control" name="priority" ngModel #newProject_Priority="ngModel"required>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
      <p *ngIf="newProject_Priority.invalid && newProject_Priority.touched" class="text-danger"><small>Il campo è richiesto</small></p>
    </div>
  </div>
  <div class="form-group">
    <textarea class="form-control" name="description" placeholder="Descrizione" required ngModel #newProject_description="ngModel">
        </textarea>
    <p *ngIf="newProject_description.invalid && newProject_description.touched" class="text-danger"><small>Il campo è richiesto</small></p>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="date" name="start" class="form-control" placeholder="Data Inizio" ngModel #newProject_data="ngModel" required>
      <p  *ngIf="newProject_data.invalid && newProject_data.touched" class="text-danger"><small>Il campo è richiesto</small></p>
    </div>
    <div class="form-group col-md-6">
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Crea</button>
</form>
