<div class="row mt-5 justify-content-end">
  <div class="col-8">
    <h2 class="">{{title}}</h2>
  </div>
  <div class="col text-right">
    <button class="btn" [class]="mbutton.style" [routerLink]="mbutton.link" routerLinkActive="router-link-active">{{mbutton.label}}</button>
  </div>
</div>
