<div>
  <ngtt-section-header [title]="'Filtra ricerca'" [button]="{ label:'Torna alla home', link:'/home'}"></ngtt-section-header>
  <ngtt-project-search (searching)="searchProject($event)"></ngtt-project-search>
</div>


<hr />


<h4>I tuoi progetti</h4>
<ngtt-project-list *ngIf="projects.length>0 else noProjects"
  [projects]="projects
    | searchFilter:'name':searchedProject?.name
    | searchFilter:'priority':searchedProject?.priority
    | searchFilter:'done':searchedProject?.done"
(over)="selectProject($event)"
(selected)="goToProject($event)"
></ngtt-project-list>

<ng-template #noProjects>
  <div class="card-columns"> Non ci sono progetti </div>
</ng-template>


<hr />

<h4>Dettagli</h4>
<ngtt-project-detail [project]="selectedProject"></ngtt-project-detail>


<hr />


<h4>Crea un nuovo progetto</h4>
<ngtt-project-form (submitted)="addProject($event)"></ngtt-project-form>

