<div class="card-columns">
  <ng-container *ngFor="let project of projects">
    <div class="card" [ngClass]="{ 'border-warning': !project.done, 'border-info': project.done }" (mouseover)="overProject(project)">
      <div class="card-body">
        <h5 class="card-title">
          <span class="badge badge-light float-right">{{project.code}}</span>{{project.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <small>{{project.start | date:"d MMMM y"}}</small>
          <small *ngIf="project.end"> - {{project.end | date:"d MMMM y"}}</small>
        </h6>
        <p class="card-text" *ngIf="project.company">{{project.company}}</p>
        <p class="card-text">{{project.description}}</p>
        <button (click)="selectProject(project.id)" routerLinkActive="active"  class="btn btn-primary btn-sm">Vai al Progetto</button>
      </div>
    </div>
  </ng-container>
</div>
